@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');

$dark-blue: #34495E;
$dark-red: #C0392B;
$light-gray: #ECF0F1;
$light-green: #2ECC71;
$box-shadow:  9px 10px 5px -4px rgba(0,0,0,0.52);

$font-spectral: 'Spectral', serif;


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$media-small: 767px;

$rojo-g1: #C0392B;
$verde-claro: #27AE60;
$verde-shadow: #026536;
$gris: #BDC3C7;
$gris-shadow: #727272;
$gris-claro: #ECF0F1;

//$font-spectral: 'Spectral', serif;
$font-roboto: 'Roboto', sans-serif;